{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Paragraph Analysis</h1>
    <p>Welcome to something...{{title}}</p>
    <br>
    <br>
    <div class="form-group">
      <label for="paragraph">Paste your paragraph below:</label>
      <textarea class="form-control" rows="10" id="paragraph"></textarea>
      <br>
      <button type="submit" class="btn btn-primary" id="paragraph-submit">Submit</button>
    </div>

    <div id="result-paragraph">
    <h4>Your paragraph:</h4>
    </div>


  </div>

{% endblock %}
