/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

#result-paragraph {
  font-family:Arial Black;
  font-size: 16px;
}

.orange{
  color: orange;
}

.red {
  color: red;
}

.green {
  color: green;
}
